	<div class="loader" layout="row" layout-align="center center" ng-if="loader">
		<img src="assets/images/dash-loader.gif">
	</div>
	<div class="categoryPage bannProd">
		<img ng-src="{{albums_details.album_cover}}" />
		<div class="categ_details">
			<h1 class="category_title">{{albums_details.name}}</h1>
			<p class="category_desc">{{albums_details.album_description}}</p>
		</div>
		<header class="origMenu subpage">
			<div class="container">
				<button class="sideTooge layout-column layout-align-center-center">
					<i class="fa-barr"></i>
					<i class="fa-barr"></i>
					<i class="fa-barr"></i>
				</button>
					
				<ul class="list-unstyled userActivity layout-row">
					<li><a class="fa fa-user-o"></a></li>
					<li><a class="fa fa-shopping-bag"></a></li>
				</ul>
				
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="headUl list-unstyled" layout="row" layout-align="center center">
						<li><a href="#">Our journey</a></li>
						<li><a href="#">Our place</a></li> 
						<li><a href="#">What we do</a></li> 
						<li class="logoLi">
							<img src="assets/images/logo.png" alt=""/>
						</li> 
						<li><a href="#">Loom space</a></li>
						<li><a href="#">Customer talks</a></li> 
						<li><a href="#">Meet us</a></li> 
					</ul>
				</div>
			</div>
		</header>
	</div>	

	<div class="pageCrumbs" layout="row" layout-align="center center">
		<ul class="margin0 list-unstyled layout-row txtCenter">
			<li><a href="">Home</a></li>
			<li ng-repeat="crumb in pages"><a href="" ng-class="{'active' : $last}">{{crumb}}</a></li>
		</ul>
	</div>

	<div class="catePage">
		<div class="container">
			<div class="filterBox relative">
				<div class=" col-sm-4">
					<div class="filtDiv relative">
						<select class="margin0" ng-model="filter.category" ng-change="get_category_filter(filter.category);">
							<option ng-repeat="categ in filter_categories" ng-value="categ.category_id">{{categ.category_name}}</option>
						</select>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>

				<div class=" col-sm-4">
					<div class="filtDiv relative">
						<select class="margin0" ng-model = "filter.album" ng-change="get_album_filter(filter)">
							<option ng-repeat="album in filter_album" ng-value="album.album_id">{{album.album_description}}</option>
						</select>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>

				<div class=" col-sm-4">
					<div class="filtDiv relative">
						<select class="margin0" ng-model="filter.price" ng-change="get_price_filter(filter.price)">
							<option value="">Sort by</option>
							<option ng-repeat="price in price_ranges" ng-value="price.pr_option_id">{{price.pr_option_name}}</option>
						</select>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>	


			<div class="producBoxx layout-row layout-wrap">
				<h5 ng-hide="albums_data.length > 0" class="norecords">Oops !! No records found</h5>
				<div class="categBo" ng-repeat="item in albums_data">
					<div class="relative mproductBox">
						<img ng-src="{{item.item_cover_picture}}" alt=""/>
						<div class="hovBig padding10" ng-click="openDetails(item)">
							<div class="albums_title_dv">
								<h4>{{item.item_name}}</h4>
								<p>{{item.item_description}}</p>
								<p class="rating">Rs : {{item.item_price}}</p>
							</div>
						</div>	
					</div>
				</div>
			</div>

			<div class="pagintn" layout="row" layout-align="center center">
				<ul class="margin0 layout-row list-unstyled">
					<li class="active">1</li>
					<li>2</li>
					<i class="fa fa-angle-double-right"></i>
				</ul>
			</div>
				
		</div>
	</div>


	
<div footer-template></div>