
	<div class="bannProd">
		<header class="origMenu subpage">
			<div class="container">
				<button class="sideTooge layout-column layout-align-center-center">
					<i class="fa-barr"></i>
					<i class="fa-barr"></i>
					<i class="fa-barr"></i>
				</button>
					
				<ul class="list-unstyled userActivity layout-row">
					<li><a class="fa fa-user-o"></a></li>
					<li><a class="fa fa-shopping-bag"></a></li>
				</ul>
				
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="headUl list-unstyled" layout="row" layout-align="center center">
						<li><a href="#">Our journey</a></li>
						<li><a href="#">Our place</a></li> 
						<li><a href="#">What we do</a></li> 
						<li class="logoLi">
							<img src="assets/images/logo.png" alt=""/>
						</li> 
						<li><a href="#">Loom space</a></li>
						<li><a href="#">Customer talks</a></li> 
						<li><a href="#">Meet us</a></li> 
					</ul>
				</div>
			</div>
		</header>
	</div>	

	<div class="pageCrumbs" layout="row" layout-align="center center">
		<ul class="margin0 list-unstyled layout-row txtCenter">
			<li><a href="">Home</a></li>
			<li ng-repeat="crumb in pages"><a href="" ng-class="{'active' : $last}">{{crumb}}</a></li>
		</ul>
	</div>

	<div class="catePage">
		<div class="container">
			<h2 class="margin0 categTitle txtCenter">COTTON SAREE</h2>
			<h5 class="txtCenter categsubTit">Fine sarees in pure & Blended cotton silk</h5>

			<div class="filterBox">
				<div class=" col-sm-4">
					<div class="filtDiv relative">
						<select class="margin0" ng-model="filter.category" ng-change="get_album(filter.category)">
							<option ng-repeat="categ in filter_categories" ng-value="categ.category_code">{{categ.category_description}}</option>
						</select>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>

				<div class=" col-sm-4">
					<div class="filtDiv relative">
						<select class="margin0" ng-model = "filter.album" ng-disabled="filter_album.length < 1">
							<option ng-repeat="album in filter_album" ng-value="album.album_id">{{album.album_description}}</option>
						</select>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>

				<div class=" col-sm-4">
					<div class="filtDiv relative">
						<select class="margin0">
							<option value="">Sort by</option>
							<option value="">Sort by Newest</option>
							<option value="">Sort by Oldest</option>
							<option value="">Sort by Ascending</option>
							<option value="">Sort by Descending</option>
						</select>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>	


			<div class="producBoxx layout-row layout-wrap">
				<div class="categBo" ng-repeat="item in categories | filter: filteredContent">
					<div class="relative mproductBox">
						<img ng-src="{{item.item_cover_picture}}" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">
								<span ng-if="item.item_status">SALE</span>
								<span ng-if="!item.item_status">SOLD</span>
							</md-button>
							<div class="prod-info">
								<p class="pull-left">{{item.item_name}}</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> {{item.item_price}}</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>
			</div>

			<div class="pagintn" layout="row" layout-align="center center">
				<ul class="margin0 layout-row list-unstyled">
					<li class="active">1</li>
					<li>2</li>
					<i class="fa fa-angle-double-right"></i>
				</ul>
			</div>
				
		</div>
	</div>


	
<div footer-template></div>