
	<div class="bannProd">
		<header class="origMenu subpage">
			<div class="container">
				<button class="sideTooge layout-column layout-align-center-center">
					<i class="fa-barr"></i>
					<i class="fa-barr"></i>
					<i class="fa-barr"></i>
				</button>
					
				<ul class="list-unstyled userActivity layout-row">
					<li><a class="fa fa-user-o"></a></li>
					<li><a class="fa fa-shopping-bag"></a></li>
				</ul>
				
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="headUl list-unstyled" layout="row" layout-align="center center">
						<li><a href="#">Our journey</a></li>
						<li><a href="#">Our place</a></li> 
						<li><a href="#">What we do</a></li> 
						<li class="logoLi">
							<img src="assets/images/logo.png" alt=""/>
						</li> 
						<li><a href="#">Loom space</a></li>
						<li><a href="#">Customer talks</a></li> 
						<li><a href="#">Meet us</a></li> 
					</ul>
				</div>
			</div>
		</header>
	</div>	

	<div class="pageCrumbs" layout="row" layout-align="center center">
		<ul class="margin0 list-unstyled layout-row txtCenter">
			<li><a href="">Home</a></li>
			<li><a class="active" href="">Cotton saree</a></li>
		</ul>
	</div>

	<div class="catePage">
		<div class="container">
			<h2 class="margin0 categTitle txtCenter">COTTON SAREE</h2>
			<h5 class="txtCenter categsubTit">Fine sarees in pure & Blended cotton silk</h5>

			<div class="filterBox">
				<div class=" col-sm-3">
					<div class="filtDiv relative">
						<select class="margin0">
							<option value="">Color</option>
							<option value="">Green</option>
							<option value="">Blue/option>
							<option value="">Red</option>
							<option value="">Black</option>
							<option value="">White</option>
							<option value="">Brown</option>
						</select>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>

				<div class=" col-sm-3">
					<div class="filtDiv relative">
						<select class="margin0">
							<option value="">Price</option>
							<option value="">0 - 500</option>
							<option value="">500 - 1500</option>
							<option value="">1500 - 2500</option>
							<option value="">2500 above</option>
						</select>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>

				<div class=" col-sm-3">
					<div class="filtDiv relative">
						<select class="margin0">
							<option value="">Any Type</option>
							<option value="">Cotton saree</option>
							<option value="">Silk saree</option>
							<option value="">Traditional saree</option>
						</select>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>

				<div class=" col-sm-3">
					<div class="filtDiv relative">
						<select class="margin0">
							<option value="">Sort by</option>
							<option value="">Sort by Newest</option>
							<option value="">Sort by Oldest</option>
							<option value="">Sort by Ascending</option>
							<option value="">Sort by Descending</option>
						</select>
						<i class="fa fa-angle-down"></i>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>	


			<div class="producBoxx layout-row layout-wrap">
				<div class="categBo">
					<div class="relative mproductBox">
						<img src="assets/images/chettinaad-handloom-01.jpg" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">SALE</md-button>
							<div class="prod-info">
								<p class="pull-left">Silk Cotton</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> 749.50</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

				<div class="categBo">
					<div class="relative mproductBox">
						<img src="assets/images/chettinaad-handloom-02.jpg" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">SALE</md-button>
							<div class="prod-info">
								<p class="pull-left">Silk Cotton</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> 749.50</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

				<div class="categBo">
					<div class="relative mproductBox">
						<img src="assets/images/chettinaad-handloom-03.jpg" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">SALE</md-button>
							<div class="prod-info">
								<p class="pull-left">Silk Cotton</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> 749.50</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

				<div class="categBo">
					<div class="relative mproductBox">
						<img src="assets/images/chettinaad-handloom-04.jpg" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">SALE</md-button>
							<div class="prod-info">
								<p class="pull-left">Silk Cotton</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> 749.50</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

				<div class="categBo">
					<div class="relative mproductBox">
						<img src="assets/images/chettinaad-handloom-05.jpg" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">SALE</md-button>
							<div class="prod-info">
								<p class="pull-left">Silk Cotton</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> 749.50</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

				<div class="categBo">
					<div class="relative mproductBox">
						<img src="assets/images/chettinaad-handloom-06.jpg" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">SALE</md-button>
							<div class="prod-info">
								<p class="pull-left">Silk Cotton</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> 749.50</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

				<div class="categBo">
					<div class="relative mproductBox">
						<img src="assets/images/chettinaad-handloom-07.jpg" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">SALE</md-button>
							<div class="prod-info">
								<p class="pull-left">Silk Cotton</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> 749.50</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

				<div class="categBo">
					<div class="relative mproductBox">
						<img src="assets/images/chettinaad-handloom-08.jpg" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">SALE</md-button>
							<div class="prod-info">
								<p class="pull-left">Silk Cotton</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> 749.50</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

				<div class="categBo">
					<div class="relative mproductBox">
						<img src="assets/images/chettinaad-handloom-01.jpg" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">SALE</md-button>
							<div class="prod-info">
								<p class="pull-left">Silk Cotton</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> 749.50</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

				<div class="categBo">
					<div class="relative mproductBox">
						<img src="assets/images/chettinaad-handloom-02.jpg" alt=""/>
						<div class="hovBig padding10">
							<ul class="list-unstyled addWishbtn">
								<li>+</li>
								<li><i class="fa fa-heart-o"></i></li>
							</ul>
							<md-button class="sale pull-right">SALE</md-button>
							<div class="prod-info">
								<p class="pull-left">Silk Cotton</p>
								<ul class="list-unstyled pric-info layout-row">
									<li><i class="fa fa-rupee"></i> 749.50</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>

			</div>

			<div class="pagintn" layout="row" layout-align="center center">
				<ul class="margin0 layout-row list-unstyled">
					<li class="active">1</li>
					<li>2</li>
					<i class="fa fa-angle-double-right"></i>
				</ul>
			</div>
				
		</div>
	</div>


	
<div footer-template></div>