<header class="origMenu detailsPage">
	<div class="container">
		<button class="sideTooge layout-column layout-align-center-center">
			<i class="fa-barr"></i>
			<i class="fa-barr"></i>
			<i class="fa-barr"></i>
		</button>
			
		<ul class="list-unstyled userActivity layout-row">
			<li><a class="fa fa-user-o"></a></li>
			<li><a class="fa fa-shopping-bag" ng-class="{'_pink' : !cartIsEmpty, '_black' : cartIsEmpty}"></a></li>
		</ul>
		
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="headUl list-unstyled" layout="row" layout-align="center center">
				<li><a href="#">Our journey</a></li>
				<li><a href="#">Our place</a></li> 
				<li><a href="#">What we do</a></li> 
				<li class="logoLi dets">
					<img src="assets/images/logo_1.png" alt=""/>
				</li> 
				<li><a href="#">Loom space</a></li>
				<li><a href="#">Customer talks</a></li> 
				<li><a href="#">Meet us</a></li> 
			</ul>
		</div>
	</div>
</header>

<div class="pageCrumbs" layout="row" layout-align="center center">
	<ul class="margin0 list-unstyled layout-row txtCenter">
		<li><a href="">Home</a></li>
		<li ng-repeat="crumb in pages"><a href="" ng-class="{'active' : $last}">{{crumb}}</a></li>
	</ul>
</div>


<section class="detailsSectn">
	<div class="container">
		<div class="layout-row layout-xs-column">
			<div class="flex-50 ProdImmg relative">
				<img ng-src="{{products.item_cover_picture}}" alt="">
				<div class="item_gallery">
					<ul class="list-unstyled sub_images">
						<li><img src="assets/images/chettinaad-handloom-01.jpg"/></li>
						<li><img src="assets/images/chettinaad-handloom-02.jpg"/></li>
						<li><img src="assets/images/chettinaad-handloom-03.jpg"/></li>
					</ul>
				</div>
			</div>

			<div class="flex-50 ProdDetls">
				<h1>{{products.item_name}}</h1>
				<ul class="pricDets list-unstyled">
					<li><i class="fa fa-inr"></i> {{products.item_price}}</li>
				</ul>
				<p class="pricDescriptn">{{products.item_description}}</p>
				<div class="layout-row">
					<div class="relative detsQty layout-row">
						<input type="text" placeholder="quantity" ng-model="products.qty" maxlength="3"/>
						<span class="qty_s" ng-click="change_qty(products.qty, 'add')">+</span>
						<span class="qty_s" ng-click="change_qty(products.qty, 'minus')">-</span>
					</div>
					<span class="error_msg" ng-if="err_qty">{{err_qty}}</span>
					
				</div>
				<div class="clearfix"></div>
				<table class="table table-condensed marginTop10">
					<tr>
						<td>Code</td>
						<td class="uppercase">{{products.item_category.category_code}}</td>
					</tr>

					<tr>
						<td>Category</td>
						<td>{{products.item_category.category_name}}</td>
					</tr>
					<tr>
						<td>Tags</td>
						<td>{{products.tags}}</td>
					</tr>
				</table>
				<div class="clearfix"></div>
				<div class="marginTop10 shareDetls">
					<span>SHARE NOW</span>
					<ul class="list-unstyled layout-row">
						<li><a href="index.html" class="fa fa-facebook"></a></li>
						<li><a href="" class="fa fa-twitter"></a></li>
						<li><a href="" class="fa fa-google-plus"></a></li>
						<li><a href="" class="fa fa-pinterest"></a></li>
					</ul>
				</div>
				<div class="layout-row">
					<md-button ng-hide="!cartIsEmpty" class="marginLeft10 chkOut pull-right" ng-click="addtoCart(products)">ADD TO CART</md-button>
					<md-button ng-hide="cartIsEmpty" class="marginLeft10 chkOut pull-right" ng-click="continue_shopping()">CONTINUE SHOPPING</md-button>
					<md-button ng-hide="cartIsEmpty" class="marginLeft10 chkOut pull-right">VIEW CART</md-button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="reltnProds">
	<div class="container">
		<h2 class="margin0 categTitle txtCenter">RELATED PRODUCTS</h2>
		<div class="clearfix"></div>

		<div class="producBoxx layout-row">
			<div class="categBo">
				<div class="relative mproductBox">
					<img src="assets/images/chettinaad-handloom-01.jpg" alt=""/>
					<div class="hovBig padding10">
						<ul class="list-unstyled addWishbtn">
							<li>+</li>
						</ul>
						<div class="prod-info">
							<p class="pull-left">Silk Cotton</p>
							<ul class="list-unstyled pric-info layout-row">
								<li><i class="fa fa-rupee"></i> 749.50</li>
							</ul>
						</div>
					</div>	
				</div>
			</div>

			<div class="categBo">
				<div class="relative mproductBox">
					<img src="assets/images/chettinaad-handloom-02.jpg" alt=""/>
					<div class="hovBig padding10">
						<ul class="list-unstyled addWishbtn">
							<li>+</li>
							<!-- <li><i class="fa fa-heart-o"></i></li> -->
						</ul>
						<div class="prod-info">
							<p class="pull-left">Silk Cotton</p>
							<ul class="list-unstyled pric-info layout-row">
								<li><i class="fa fa-rupee"></i> 749.50</li>
							</ul>
						</div>
					</div>	
				</div>
			</div>

			<div class="categBo">
				<div class="relative mproductBox">
					<img src="assets/images/chettinaad-handloom-03.jpg" alt=""/>
					<div class="hovBig padding10">
						<ul class="list-unstyled addWishbtn">
							<li>+</li>
							<!-- <li><i class="fa fa-heart-o"></i></li> -->
						</ul>
						<div class="prod-info">
							<p class="pull-left">Silk Cotton</p>
							<ul class="list-unstyled pric-info layout-row">
								<li><i class="fa fa-rupee"></i> 749.50</li>
							</ul>
						</div>
					</div>	
				</div>
			</div>

			<div class="categBo">
				<div class="relative mproductBox">
					<img src="assets/images/chettinaad-handloom-04.jpg" alt=""/>
					<div class="hovBig padding10">
						<ul class="list-unstyled addWishbtn">
							<li>+</li>
							<!-- <li><i class="fa fa-heart-o"></i></li> -->
						</ul>
						<div class="prod-info">
							<p class="pull-left">Silk Cotton</p>
							<ul class="list-unstyled pric-info layout-row">
								<li><i class="fa fa-rupee"></i> 749.50</li>
							</ul>
						</div>
					</div>	
				</div>
			</div>
		</div>	
	</div>
</section>

<div footer-template></div>