<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
      <!-- Indicators -->
      <ol class="carousel-indicators customIndi">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

        <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          <div class="item active">
              <img src="assets/images/banner.jpg" alt="Chettinaad Handloom Designer Sarees">
          </div>

          <div class="item">
            <img src="assets/images/banner2.jpg" alt="Chettinaad Handloom Designer Sarees">
          </div>

          <div class="item">
            <img src="assets/images/banner.jpg" alt="Chettinaad Handloom Designer Sarees">
          </div>

          <div class="item">
            <img src="assets/images/banner2.jpg" alt="Chettinaad Handloom Designer Sarees">
          </div>
          <div class="hide-xs flex-60 carousel-caption">
              <img src="assets/images/banner-caption.jpg" alt="">
            </div>
      </div>


        <div class="homeCont">
          <div class="hmsideBar layout-column">
            <ul class="socIc list-unstyled txtCenter">
              <li><a href="" class="fa fa-facebook"></a></li>
              <li><a href="" class="fa fa-twitter"></a></li>
              <li><a href="" class="fa fa-linkedin"></a></li>
              <li><a href="" class="fa fa-instagram"></a></li>
              <li><a href="" class="fa fa-google-plus"></a></li>
            </ul>
            <img class="sideLin hide-xs" src="assets/images/sideline.png" alt="">
          </div>

        <header>
          <div class="container">
            <button class="navbar-toggle" menu-toggle>
              <i class="fa fa-bars"></i>
            </button>
             
              <div class="collapse navbar-collapse">
                  <ul class="headUl list-unstyled" layout="row" layout-xs="column" layout-align="center center">
                      <li><a href="#/journey">Our journey</a></li>
                      <li><a href="#/places">Our place</a></li> 
                      <li><a href="#/services">What we do</a></li> 
                      <li class="logoLi" hide-xs>
                        <a href="#/home">
                          <img src="assets/images/logo.png" alt=""/>
                        </a>
                      </li> 
                      <li><a href="#/loomspace">Loom space</a></li>
                      <li><a href="#/customerTalks">Customer talks</a></li> 
                      <li><a href="#/reachus">Meet us</a></li> 
                  </ul>
              </div>
          </div>
        </header>


        <footer>
          <div class="container layout-row">
            <ul class="list-unstyled flex-30">
              <li><a href="">Reach us</a></li>
              <li><a href="">Privacy</a></li>
              <li><a href="">Home</a></li>
            </ul>
            <div class="flex-40 craftBy">
              <p>CraftedBy<a href="">madOwhat</a>  |  Copyrights &copy; 2017</p>
            </div>
            <div class="flex-30 footSide relative">
              <img class="sideLin hide-xs" src="assets/images/sideline.png" alt="">
            </div>
          </div>  
        </footer>
      </div>

