
		<header class="origMenu detailsPage">
			<div class="container">
				<button class="sideTooge layout-column layout-align-center-center" menu-toggle>
					<i class="fa-barr"></i>
					<i class="fa-barr"></i>
					<i class="fa-barr"></i>
		      	</button>
				 
				<ul class="list-unstyled userActivity layout-row">
			    	<li><a href="#/login" class="fa fa-user-o"></a></li>
			    	<li><a class="fa fa-shopping-bag"></a></li>
			    </ul>
			    
			    <div class="collapse navbar-collapse" id="myNavbar">
			      	<ul class="headUl list-unstyled" layout="row" layout-xs="column" layout-align="center center">
				      <li><a href="#/journey">Our journey</a></li>
                      <li><a href="#/places">Our place</a></li> 
                      <li><a href="#/services">What we do</a></li> 
                      <li class="logoLi dets" hide-xs>
                        <a href="#/">
                          <img src="assets/images/logo_1.png" alt=""/>
                        </a>
                      </li> 
                      <li><a href="#/loomspace">Loom space</a></li>
                      <li><a href="#/customerTalks">Customer talks</a></li> 
                      <li><a href="#/reachus">Meet us</a></li> 
			      	</ul>
			    </div>
			</div>
		</header>

		<div class="journeyPage">
			<div class="container">
				<div class="abtChttnd layout-row">
					<div class="flex-40 abtContt">
						<h3>Abirami Meyyappan</h3>
						<p>Generators on the Internet tend to repeat predefined chunks as necessary, making </p>
					</div>
					<div class="flex-50 abtImmg flex-offset-10">
						<img src="assets/images/022_chettinaad.gif" alt=""/>
					</div>
				</div>
			</div>
		</div>
	
		<div class="journeyPage down_Subb">
			<div class="blackFadd" layout="column" layout-align="end left">
				<div class="container">
					<div class="flex-40">
						<h3>CHETTINAAD HANDLOOM</h3>
						<p> she is a large format illustrated book containing exquisite photographs of the astonishing Architecture of Chettinad, an eclectic and hybrid style not seen anywhere else.</p>
					</div>	
				</div>
			</div>
		</div>
		
<div footer-template></div>
