
		<header class="origMenu detailsPage">
			<div class="container">
				<button class="sideTooge layout-column layout-align-center-center" menu-toggle>
					<i class="fa-barr"></i>
					<i class="fa-barr"></i>
					<i class="fa-barr"></i>
		      	</button>
				 
				<ul class="list-unstyled userActivity layout-row">
			    	<li><a href="#/login" class="fa fa-user-o"></a></li>
			    	<li><a class="fa fa-shopping-bag"></a></li>
			    </ul>
			    
			    <div class="collapse navbar-collapse" id="myNavbar">
			      	<ul class="headUl list-unstyled" layout="row" layout-xs="column" layout-align="center center">
				        <li><a href="#/journey">Our journey</a></li>
                      <li><a href="#/places">Our place</a></li> 
                      <li><a href="#/services">What we do</a></li> 
                      <li class="logoLi dets" hide-xs>
                        <a href="#/">
                          <img src="assets/images/logo_1.png" alt=""/>
                        </a>
                      </li> 
                      <li><a href="#/loomspace">Loom space</a></li>
                      <li><a href="#/customerTalks">Customer talks</a></li> 
                      <li><a href="#/reachus">Meet us</a></li> 
			      	</ul>
			    </div>
			</div>
		</header>

		<div class="ourPlacsPag">
			<div class="container">
				<div class="col-sm-6">
					<img src="assets/images/023_chettinaad.gif" alt="">
				</div>
				<div class="col-sm-6  ">
					<h3>Place of culture and heritage</h3>
					<p>The word 'Chetti' is derived from Sanskrit meaning wealth. The chettiars are known to be traders in salt and spices and this is reflects in the Chettinad cuisine. Meals also consist of cooked lentils, Brinjal curry, drumstick sambar, ghee for flavouring rice, and sweet meats like payasam and paal paniyaram. </p> 
					<p>In general, beef and pork dishes are not served. Some well-known local dishes are Chicken Chettinad (Spicy Chicken Curry), Vegetable Chettinad (a vegetable curry) and dishes featuring seafood.</p>
				</div>
			</div>
		</div>

		<div class="ourPlacsPag">
			<div class="container">
				<div class="col-sm-6 txtRight">
					<h3>towns of chettinad </h3>
					<p>The Chettinad region is well known for its 19th-century mansions, whose wide courtyards and spacious rooms are embellished with marbleand teak. Construction materials, decorative items and furnishings were mostly imported from East Asian countries and Europe. The marble was brought from Italy, chandeliers and teak from Burma, crockery from Indonesia, crystals from Europe and wall-to-wall mirrors from Belgium</p>
					<p>Many of these mansions were built using a type of limestone known as karai.[2] Local legend has it that the mansion walls were polished with a paste made out of eggwhites to give them a smooth texture.[</p>
				</div>

				<div class="col-sm-6">
					<img src="assets/images/abt_chettinaad.jpg" alt="">
				</div>
			</div>
		</div>

		<div class="ourPlacsPag">
			<div class="container">
				<div class="col-sm-6">
					<img src="assets/images/021_chettinaad.gif" alt="">
				</div>
				<div class="col-sm-6 ">
					<h3>Temples of chettinad </h3>
					<p>The Chettinad region is well known for its 19th-century mansions, whose wide courtyards and spacious rooms are embellished with marbleand teak. Construction materials, decorative items and furnishings were mostly imported from East Asian countries and Europe. The marble was brought from Italy, chandeliers and teak from Burma, crockery from Indonesia, crystals from Europe and wall-to-wall mirrors from Belgium</p>
					<p>Many of these mansions were built using a type of limestone known as karai.[2] Local legend has it that the mansion walls were polished with a paste made out of eggwhites to give them a smooth texture.[</p>
				</div>				
			</div>
		</div>

		<div class="ourPlacsPag">
			<div class="container">
				<div class="col-sm-6 txtRight">
					<h3>Featured chettinad</h3>
					<p>The Chettinad region is well known for its 19th-century mansions, whose wide courtyards and spacious rooms are embellished with marbleand teak. Construction materials, decorative items and furnishings were mostly imported from East Asian countries and Europe. The marble was brought from Italy, chandeliers and teak from Burma, crockery from Indonesia, crystals from Europe and wall-to-wall mirrors from Belgium</p>
					<p>Many of these mansions were built using a type of limestone known as karai.[2] Local legend has it that the mansion walls were polished with a paste made out of eggwhites to give them a smooth texture.[</p>
				</div>
				<div class="col-sm-6">
					<img src="assets/images/abt_chettinaad02.jpg" alt="">
				</div>				
			</div>
		</div>

		<div footer-template></div>

