<header class="origMenu detailsPage">
	<div class="container">
		<!-- <button class="sideTooge layout-column layout-align-center-center">
			<i class="fa-barr"></i>
			<i class="fa-barr"></i>
			<i class="fa-barr"></i>
		</button> -->
			
		<ul class="list-unstyled userActivity layout-row">
			<li><a class="fa fa-user-o"></a></li>
			<li><a class="fa fa-shopping-bag"></a></li>
		</ul>
		
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="headUl list-unstyled" layout="row" layout-align="center center">
				<li><a href="#">Our journey</a></li>
				<li><a href="#">Our place</a></li> 
				<li><a href="#">What we do</a></li> 
				<li class="logoLi">
					<img src="assets/images/logo_1.png" alt=""/>
				</li> 
				<li><a href="#">Loom space</a></li>
				<li><a href="#">Customer talks</a></li> 
				<li><a href="#">Meet us</a></li> 
			</ul>
		</div>
	</div>
</header>

<div class="pageCrumbs" layout="row" layout-align="center center">
	<ul class="margin0 list-unstyled layout-row txtCenter">
		<li><a href="">Home</a></li>
		<li><a class="active" href="">loomspace</a></li>
	</ul>
</div>
		
<section class="productContainer" ng-cloak>
	<section class="main_wrap" ng-repeat="product in category_data">
		<h1 class="txtCenter titleAlbum">{{product.name}}</h1>
		<div class="clearfix"></div>
		<div class="margin0 row album_row">
			<div class="container">
				<div class="row margin0">
					<div class="col-sm-6" ng-repeat="album in product.albums">
						<div class="album_div relative">
							<img ng-src="{{album.cover_picture}}"/>
							<div class="album_hovr_bx">
								<h4 ng-click="explore_products(album)">{{album.name}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<div footer-template></div>