
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->

  <header class="origMenu">
		<div class="container">
			<button class="sideTooge layout-column layout-align-center-center">
				<i class="fa-barr"></i>
				<i class="fa-barr"></i>
				<i class="fa-barr"></i>
	      	</button>
			 
			<ul class="list-unstyled userActivity layout-row">
		    	<li><a class="fa fa-user-o"></a></li>
		    	<li><a class="fa fa-shopping-bag"></a></li>
		    </ul>
		    
		    <div class="collapse navbar-collapse" id="myNavbar">
		      	<ul class="headUl list-unstyled" layout="row" layout-align="center center">
			        <li><a href="#">Our journey</a></li>
			        <li><a href="#">Our place</a></li> 
			        <li><a href="#">What we do</a></li> 
			        <li class="logoLi">
			        	<img src="assets/images/logo.png" alt=""/>
			        </li> 
			        <li><a href="#">Loom space</a></li>
			        <li><a href="#">Customer talks</a></li> 
			        <li><a href="#">Meet us</a></li> 
		      	</ul>
		    </div>
		</div>
	</header>


  	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	    <div class="item active">
	      	<img src="assets/images/banner.jpg" alt="Chettinaad Handloom Designer Sarees">
	    </div>

	    <div class="item">
	      <img src="assets/images/banner2.jpg" alt="Chettinaad Handloom Designer Sarees">
	    </div>	      	
	</div>

	  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	  	<i class="fa fa-long-arrow-left"></i>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" data-slide="next"> 
	  	<i class="fa fa-long-arrow-right"></i>
	  </a>
</div>	

		
<section class="layout-row productContainer">
	<div class="flex-50">
		<div class="relative productBox">
			<img class="imgMain" src="assets/images/chettinaad-handloom-category-01.jpg" alt=""/>
			<div class="hovBig layout-column layout-align-center-center">
				<h2 class="margin0">COTTON SILK SAREE</h2>
				<h4>Fine sarees in pure & Blended cotton silk</h4>
			</div>
		</div>
	</div>
	<div class="flex-50 layout-row layout-wrap ">
		<div class="flex-50">
			<div class="relative mproductBox ">
				<img src="assets/images/chettinaad-handloom-01.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>			
			</div>
		</div>
		<div class="flex-50">
			<div class="relative mproductBox">
				<img src="assets/images/chettinaad-handloom-02.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
		<div class="flex-50">
			<div class="relative mproductBox">
				<img src="assets/images/chettinaad-handloom-03.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
		<div class="flex-50">
			<div class="relative mproductBox">
				<img src="assets/images/chettinaad-handloom-04.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>

<section class="layout-row productContainer">
	<div class="flex-50 layout-row layout-wrap ">
		<div class="flex-50">
			<div class="relative mproductBox ">
				<img src="assets/images/chettinaad-handloom-05.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>			
			</div>
		</div>
		<div class="flex-50">
			<div class="relative mproductBox">
				<img src="assets/images/chettinaad-handloom-06.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
		<div class="flex-50">
			<div class="relative mproductBox">
				<img src="assets/images/chettinaad-handloom-07.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
		<div class="flex-50">
			<div class="relative mproductBox">
				<img src="assets/images/chettinaad-handloom-08.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="flex-50">
		<div class="relative productBox">
			<img class="imgMain" src="assets/images/chettinaad-handloom-02.jpg" alt=""/>
			<div class="hovBig layout-column layout-align-center-center">
				<h2 class="margin0">Chettinad Cotton </h2>
				<h4>Tradition sarees from Chettinaad</h4>
			</div>
		</div>
	</div>			
</section>

<section class="layout-row productContainer">
	<div class="flex-50">
		<div class="relative productBox">
			<img class="imgMain" src="assets/images/chettinaad-handloom-category-01.jpg" alt=""/>
			<div class="hovBig layout-column layout-align-center-center">
				<h2 class="margin0">COTTON SILK SAREE</h2>
				<h4>Fine sarees in pure & Blended cotton silk</h4>
			</div>
		</div>
	</div>
	<div class="flex-50 layout-row layout-wrap ">
		<div class="flex-50">
			<div class="relative mproductBox ">
				<img src="assets/images/chettinaad-handloom-01.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>			
			</div>
		</div>
		<div class="flex-50">
			<div class="relative mproductBox">
				<img src="assets/images/chettinaad-handloom-02.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
		<div class="flex-50">
			<div class="relative mproductBox">
				<img src="assets/images/chettinaad-handloom-03.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
		<div class="flex-50">
			<div class="relative mproductBox">
				<img src="assets/images/chettinaad-handloom-04.jpg" alt=""/>
				<div class="hovBig padding10">
					<ul class="list-unstyled addWishbtn">
						<li>+</li>
						<li><i class="fa fa-heart-o"></i></li>
					</ul>
					<md-button class="sale pull-right">SALE</md-button>
					<div class="prod-info">
						<p class="pull-left">Silk Cotton</p>
						<ul class="list-unstyled pric-info layout-row">
							<li class="exisPric"><i class="fa fa-rupee"></i> 855.00</li>
							<li><i class="fa fa-rupee"></i> 749.50</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>

<section class="view_pr" layout="column" layout-align="center center">
	<md-button class="viewbtn">
		View more product
	</md-button>
</section>


<div footer-template></div>