		<div class="bannProd">
		  	<header class="origMenu subpage">
				<div class="container">
					<button class="sideTooge layout-column layout-align-center-center" menu-toggle>
						<i class="fa-barr"></i>
						<i class="fa-barr"></i>
						<i class="fa-barr"></i>
			      	</button>
					 
					<ul class="list-unstyled userActivity layout-row">
				    	<li><a href="#/login" class="fa fa-user-o"></a></li>
				    	<li><a class="fa fa-shopping-bag"></a></li>
				    </ul>
				    
				    <div class="collapse navbar-collapse" id="myNavbar">
				      	<ul class="headUl list-unstyled" layout="row" layout-xs="column" layout-align="center center">
				        	<li><a href="#/journey">Our journey</a></li>
	                      	<li><a href="#/places">Our place</a></li> 
	                     	<li><a href="#/services">What we do</a></li> 
	                      	<li class="logoLi dets" hide-xs>
		                        <a href="#/">
		                          <img src="assets/images/logo_1.png" alt=""/>
		                        </a>
	                      	</li> 
	                      	<li><a href="#/loomspace">Loom space</a></li>
	                      	<li><a href="#/customerTalks">Customer talks</a></li> 
	                      	<li><a href="#/reachus">Meet us</a></li> 
				      	</ul>
				    </div>
				</div>
			</header>
		</div>

		<div class="pageCrumbs" layout="row" layout-align="center center">
			<ul class="margin0 list-unstyled layout-row txtCenter">
				<li><a href="">Home</a></li>
				<li><a class="active" href="">What we do</a></li>
			</ul>
		</div>

		<div class="ourServiPag">
			<div class="container">
				<h3>Chettinad weaving</h3>
					<p>Chettinad sarees are basically made of cotton. This particular type of saree is admired for creating an illusion with the extensive use of colour and pattern with bold checks, stripes and contrasting tints. The Chettinad saree is also known as "Kandaangi". Its vibrancy and weight are its distinguishing factors. The sarees have proved of being a prized possession of every South Indian lady. Such kind of sarees can be worn on all occasions as they display simple yet ethnic look. </p>
					<p>Chettinad sarees are created in such a way that it becomes heavy and weighty. Although, these very sarees offer an ethnic look, the thickness of these sarees have made them rare item of saree for nearly 100 years. Records and old photographs show the use of saree by previous generations, before the advent of blouses and underskirts, which is worn rather differently from the regular saree. These sarees were woven in different vibrant hues and the artisans used silk and cotton as fabrics. </p>
		<br>		
					<h4>Etymology of Chettinad Saree </h4>	
					<p>The name of Chettinad saree was derived from the place where it was created. Chettinad is a small town in southern Tamil Nadu in south India and it is well known for its exclusive creation of sarees. </p>
			
					<h4>Chettinad Saree Designs and Styles </h4>
					<p>The main style of south Chettinad sarees is the inclusion of checks and stripes of varied colours. There are huge contrast borders in appealing colour combinations in these sarees. The contrast colour borders together with the horizontal and vertical stripes give a very striking look and adding the zest of the fabric. <br>The width of the traditional Chettinad sarees is only 91cm as compared to the normal sarees with width of 120cm. Thus, when draped, this type of saree reaches only till the calves which provide a graceful flaunt of the wearer's anklets. However, today, the Chettinad sarees are woven to the regular width of 120 cm. 
					</p>

					<br>
			<h3>Chettinad designs</h3>	
				<p>With time, the styles and patterns of these sarees have undergone tremendous changes. There is no doubt that the Chettinad saree indeed adds charm and delicacy to the wearer's personality if draped in a right way. Chettinad Sarees are today considered a glamorous wear for most Indian ladies. The Chettinad sarees are available in varied colours have always made them one of the most sought after traditional sarees in the Indian market. Slowly these sarees have also entered the foreign market with lot many Indian manufacturers and women wear suppliers are exporting these sarees to other countries</p>
				<p>In recent times, by the rise of some entrepreneurs, the saree has gained its market value afresh. Today, silk and cotton fabrics are mixed to create a fusion of design and material. The very artisans and designers are doing hard work to bring back the lost glory of the sarees through addition of modern and contemporary designs. They have mixed cotton with silk to give the saree, a designer look. </p>	
			</div>
		</div>

	  	<div footer-template></div>