<div class="socPage">
	<div class="container">
		<div class="socLogi layout-row layout-align-center center"">
			<img src="assets/images/logo.png" alt="logo"/>
		</div>

		<div class="info_this" layout="column">
			<h1>COMING <i class="fa fa-clock-o"></i> SOON</h1>
			<p class="adv_2">Please subscribe us to know latest offer</p>

			<md-input-container class="tempSubsc">
				<label>Email address..</label>
				<input type="email" ng-model="subscEmail">
				<md-button class="tempBtn fa fa-paper-plane-o"></md-button>
			</md-input-container>

			<a class="fa fa-home homeTemp" href="#/"></a>
			<p>to get in touch with us</p>
			<ul class="socTempry list-unstyled layout-row">
				<li><a ng-click="fbConnect()" class="fa fa-facebook"></a></li>
				<li><a ng-click="gpConnect()" class="fa fa-google-plus"></a></li>
				<li><a ng-click="twitConnect()" class="fa fa-twitter"></a></li>
			</ul>
		</div>
	</div>
</div>