<div class="loader" layout="row" layout-align="center center" ng-if="loader">
    <img src="assets/images/dash-loader.gif">
</div>

<header class="origMenu detailsPage">
	<div class="container">
		<button class="sideTooge layout-column layout-align-center-center">
			<i class="fa-barr"></i>
			<i class="fa-barr"></i>
			<i class="fa-barr"></i>
		</button>
			
		<ul class="list-unstyled userActivity layout-row">
			<li><a class="fa fa-user-o"></a></li>
			<li><a class="fa fa-shopping-bag" ng-class="{'_pink' : !cartIsEmpty, '_black' : cartIsEmpty}"></a></li>
		</ul>
		
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="headUl list-unstyled" layout="row" layout-align="center center">
				<li><a href="#">Our journey</a></li>
				<li><a href="#">Our place</a></li> 
				<li><a href="#">What we do</a></li> 
				<li class="logoLi dets">
					<img src="assets/images/logo_1.png" alt=""/>
				</li> 
				<li><a href="#">Loom space</a></li>
				<li><a href="#">Customer talks</a></li> 
				<li><a href="#">Meet us</a></li> 
			</ul>
		</div>
	</div>
</header>

<div class="pageCrumbs" layout="row" layout-align="center center">
	<ul class="margin0 list-unstyled layout-row txtCenter">
		<li><a href="">Home</a></li>
        <li><a class="active" href="">Shopping Cart</a></li>
	</ul>
</div>

<section class="cart_sectn catePage">
	<div class="container">
        <div class="cart_section">
            <h1>Shopping Cart</h1>
            <div class="cart_div col-sm-9">
                <div class="cart_tems">
                    <div class="layout-row cart_header">
                        <div class="col-sm-2 txtCenter">
                            <h4>Products</h4>
                        </div>    
                        <div class="col-sm-4 txtCenter">
                            <h4>Details</h4>
                        </div>    
                        <div class="col-sm-2 txtCenter">
                            <h4>Qty</h4>
                        </div>    
                        <div class="col-sm-2 txtCenter">
                            <h4>Subtotal</h4>
                        </div> 
                    </div>
                    
                    <div class="cart_lines relative" ng-repeat="item in products">
                        <div ng-class="{'product_status' : item.product_status == 'sold'}">
                            <div class="col-sm-2 prod_images layout-column layout-align-center-center padding0">
                                <img ng-src="{{item.product_cover_img}}">
                            </div>
                            <div class="cart_desc_bx col-sm-4">
                                <h3 ng-bind="item.product_name"></h3>
                                <p ng-bind="item.product_description"></p>
                                <h2 class="textOfPrice marginTop10">
                                    <i class="fa fa-inr"></i> {{item.product_price}}
                                </h2>
                            </div>
                            <div class="col-sm-2 cart_desc_bx padding0 layout-column layout-align-center-center detsQty">
                                <input type="text" ng-disabled="item.product_status == 'sold'" ng-model="item.product_quantity" ng-blur="updateLineQuantity(item)" maxlength="3"/>
                            </div>
                            <div class="col-sm-2 cart_desc_bx padding0 layout-column layout-align-center-center">
                                <h2 class="textOfPrice marginTop10">
                                    <i class="fa fa-inr"></i> {{item.product_quantity * item.product_price}}
                                </h2>
                            </div>
                            <div class="col-sm-2 cart_desc_bx padding0 layout-column layout-align-center-center">
                                <i class="fa fa-close removeItems" ng-click="removeItem(item, $index)"></i>
                            </div>
                        </div>
                    </div>
                </div> 
                <br>
                <div class="address_cart marginTop20">  
                    <h2>Select address</h2>
                    <div class="col-sm-6 padding0">
                        <div ng-repeat="addr in user_addresses">
                            <div ng-class="{active_card : active_card == addr.item_id}" class="addrss_list marginBottom10 padding10 md-whiteframe-1dp">
                                <div class="icon_addr pull-left" layout="column" layout-align="center center">
                                    <i class="fa fa-map-marker fa-4x active"></i>
                                </div>
                                <div class="addr_details pull-left marginLeft10">
                                    <h5 class="margin0" ng-bind="addr.title +' '+addr.full_name"></h5>
                                    <p>
                                        <span ng-bind="addr.address_line_1"></span>
                                    </p>
                                    <p><span ng-bind="addr.address_line_2"></span></p>
                                    <p>
                                        <span ng-bind="addr.city"></span>
                                        <span ng-bind="addr.state"></span>
                                        <span ng-bind="addr.country"></span>
                                        <span ng-bind="addr.pincode"></span>
                                    </p>
                                    <p>
                                        <span ng-bind="addr.ph_country_code + ' - ' + addr.phone_number"></span>
                                    </p>
                                </div>
                            </div>    
                        </div>
                    </div>


                        <div class="clearfix"></div>

                        <div class="marginTop20 _black" ng-click="show_new = !show_new">
                            <span ng-hide="show_new">Not here !! Create new</span> 
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="error_form" ng-hide="isValidForm">Please fill the necessary fields</label>
                        <form class="address_frm" name="addressForm" ng-show="show_new">
                            <md-input-container class="inputBoxed marginTop20">
                                <label>Full Name</label>
                                <input type="text" ng-model="addresses.fields.full_name" required>
                            </md-input-container>
                        
                            <md-input-container class="inputBoxed marginTop20">
                                <label>Address Line 1</label>
                                <input type="text" ng-model="addresses.fields.address_line_1" required>
                            </md-input-container>
                        
                            <md-input-container class="inputBoxed marginTop20">
                                <label>Address Line 2</label>
                                <input type="text" ng-model="addresses.fields.address_line_2" required>
                            </md-input-container>
                            
                            <md-input-container class="inputBoxed marginTop20">
                                <select ng-model="addresses.fields.country" ng-change="addresses.onChangeCountry(addresses.fields.country)">
                                    <option value="0">Select Country</option>
                                    <option ng-repeat="country in get_countries" ng-value="country.id">{{country.name}}</option>
                                </select>
                            </md-input-container>
                            
                            <md-input-container class="inputBoxed marginTop20">
                                <select ng-model="addresses.fields.state" ng-change="addresses.onChangeState(addresses.fields.state)">
                                    <option ng-value="selected">Select State</option>
                                    <option ng-repeat="state in states_list" ng-value="state.id">{{state.name}}</option>
                                </select>
                            </md-input-container>
                            
                            <md-input-container class="inputBoxed marginTop20">
                                <select ng-model="addresses.fields.city">
                                    <option ng-value="selected">Select City</option>
                                    <option ng-repeat="city in cities_list" ng-value="city.id">{{city.name}}</option>
                                </select>
                            </md-input-container>
                            
                            <md-input-container class="inputBoxed marginTop20">
                                <label>Landmark</label>
                                <input type="text" ng-model="addresses.fields.land_mark">
                            </md-input-container>
                            
                            <md-input-container class="inputBoxed marginTop20">
                                <label>Zipcode</label>
                                <input type="text" ng-model="addresses.fields.pincode">
                            </md-input-container>
                            
                            <div class="layout-row marginTop20">
                                <select class="border-black" ng-model="addresses.fields.ph_country_code" class="paddingLeft10">
                                    <option ng-value="selected">Code</option>
                                    <option ng-repeat="country in get_countries" ng-value="country.phonecode">{{country.phonecode}}</option>
                                </select>
                                <md-input-container class="inputBoxed ">
                                    <label>Phone number</label>
                                    <input type="text" ng-model="addresses.fields.phone_number" required>
                                </md-input-container>
                            </div>
                            
                            <div class="clearfix"></div>
                            <br>
                            <md-button class=" margin0 md-primary cart_btn subscrbBtn"  ng-click="addresses.formSubmit(addresses.fields)">SUBMIT </md-button>
                            <md-button ng-click="show_new = !show_new" ng-show="show_new" class=" margin0 md-primary cart_btn subscrbBtn">Close </md-button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 cart_summary">
                <div class="coupon_disc marginTop20">
                    <h3>Cart Summary</h3>
                    <ul class="pric_lis_li list-unstyled layout-column">
                        <li>
                            <div class="pull-left">Sub Total</div>
                            <div class="pull-right pric_ran">{{cart_summary.sub_total}}</div>
                        </li>
                        <li>
                            <div class="pull-left">Shipping Amount</div>
                            <div class="pull-right pric_ran">15.00</div>
                        </li>
                    </ul>
                    <span class="layout-column marginTop10">
                        <md-button class=" margin0 md-primary cart_btn subscrbBtn">PROCEED </md-button>
                    </span>
                </div>
                <hr>
                <div class="coupon_disc marginTop20">
                    <h3>Need Help ?</h3>
                    <p>+91 (812) 270 1839</p>
                    <p>Mon-Fri, 8am - 10pm,ET</p>
                    <p>Sat-Sun, 9am - 8pm,ET</p>
                    <span class="layout-column marginTop10">
                        <md-button class=" margin0 md-primary subscrbBtn cart_btn">Shipping Information</md-button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<div footer-template></div>
